body{
    text-align: center;
    background-color: burlywood;
}

h1, h2, button{
    font-family: 'Luckiest Guy', cursive;
}

.jumbotron{
    background-color: grey;
    padding: 2%;
    color: white;
    background-image: url("../img/space.jpg");
    background-size: 100% 100%;
}

.fas{
    padding: 0 18% 0 18%;
}

@media (max-width: 1018px) { 
    .fas{
        padding: 0 10% 0 10%;
    }
 }

.picard{
    background-image: url("../img/picardSandwich.jpg");
    background-size: 100% 100%;
    border: 2px solid white;
}

.vader{
    background-image: url("../img/darthvaderBurger.jpg");
    background-size: 100% 100%;
    border: 2px solid white;
}

.replicator{
    height: 200px;
    width: 80%;
    background-image: url("../img/replicator.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    color: aqua;
}

.replicatorCol{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.prosper, .nameInput, .customer-form, .rankList{
    margin: 0 auto;
}

.replicated{
    margin: 30% 0 0 0;
    display: none;
}

.devour{
    float: right;
}

.modal-content{
    background-image: url("../img/space.jpg");
    color: white;
}

.close{
    color: white;
}